@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "gothic-outline-title";
  src: url("./fonts/gothic-outline-title/gothic-outline-title.eot");
  src: url("./fonts/gothic-outline-title/gothic-outline-title.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/gothic-outline-title/gothic-outline-title.woff2")
      format("woff2"),
    url("./fonts/gothic-outline-title/gothic-outline-title.woff") format("woff"),
    url("./fonts/gothic-outline-title/gothic-outline-title.ttf")
      format("truetype"),
    url("./fonts/gothic-outline-title/gothic-outline-title.svg#GothicOutlineTitleW01-D")
      format("svg");
}

body {
  background-image: url("./img/bg.jpg");
  background-size: cover;
}

.bpd-crossed-out-text::after {
  content: "";
  @apply absolute top-0 left-0 w-full bg-gray-200;
  transform: translate3d(0, 28px, 0);
  height: 2px;
}

.bpd-small-x {
  padding-bottom: 3px;
}
